.auth-content {
  width: 100%;
  text-align: center;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.company-heart {
  width: 56px;
  height: 56px;
  object-fit: contain;
  display: block;
  margin: 0 auto 16px auto;
}

h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 600;
  color: #cdc7ff;
}

.desc {
  color: #8e8cd1;
  font-size: 1.1rem;
  margin-bottom: 18px;
}

.oauth-btn {
 width: 100%;
  padding: 16px 0; /* increase vertical padding for bigger clickable area */
  margin-bottom: 16px; /* add more space between buttons */
  border: 1px solid #4f3c86;
  border-radius: 12px;
  font-size: 1.1rem;
  background: #160022;
  color: #c4bdff;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;

}

.icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.google-icon svg,
.apple-icon svg,
.github-icon svg {
  vertical-align: middle;
  margin-right: 6px;
  fill: currentColor;
}

.oauth-btn.google:hover,
.oauth-btn.apple:hover,
.oauth-btn.github:hover,
.oauth-btn.email:hover {
  background: #24005a;
  color: #dedbff;
}

.or-divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.line {
  flex: 1;
  height: 1px;
  background: #4f3c86;
}

.or-text {
  margin: 0 16px;
  color: #a79ee0;
  font-size: 1rem;
  font-weight: 500;
}

.footer {
  margin-top: 24px;
  font-size: 1rem;
  color: #a9bbe1;
}

.footer a {
  color: #cdc7ff;
  text-decoration: underline;
  cursor: pointer;
}